.brand-img {
  width: 100%;
  object-fit: cover;
  height: 320px;
  margin: auto;
}

.text-blue {
  color: #0f5290;
}

.text-ravensburger {
  color: #023869;
}

.text-red {
  color: rgb(175, 3, 3);
}

.text-castorland {
  color: rgb(102, 1, 1);
}

.text-brown {
  color: #766841;
}

.text-clementoni {
  color: #423717;
}