$primary: #418279 !default;
$secondary: #6d9790 !default;
$light: #f2fff8 !default;
$success: #2fa1a5 !default;
$info: #30615b !default;
$warning: #f2f192 !default;
$danger: #c51f09 !default;
$dark: darken(#30615b, 5%) !default;

.sawtooth {
  position: relative;
  overflow: hidden;
  background-color: lighten($primary, 45%);
  width: 95%;
  margin: auto;

  &-big {
    width: 35%;
    max-height: 90px;

    &>h1 {
      color: #c92104;
      text-shadow: 2px 0 0 $dark;
    }
  }

  &-content {
    width: 65%;
  }
}

.sawtooth:before,
.sawtooth:after {
  content: " ";
  width: 0;
  height: 100%;
  position: absolute;
  top: 10px;
}

.sawtooth:before {
  border-right: 10px dotted white;
  left: -5px;
}

.sawtooth:after {
  border-left: 10px dotted white;
  right: -5px;
}

.card {
  overflow: hidden;
  position: relative;
  border-radius: 0% 0% 50% 50% / 0% 0% 15% 5%;
  box-shadow: 5px 5px 5px #ccc;
}

.index {
  z-index: 1;
}

.bg-icon {
  opacity: 0.15;
  position: absolute;
  right: 0px;
  top: 0;
  z-index: 0;
}

.icon-big {
  font-size: 120px;
}

.input-bg {
  background: transparent;
  font-size: 1.5em;
  width: 180px;
  padding: 0;
  border: 0;
  color: $primary;
  font-weight: bolder;
}