.sawtooth {
  position: relative;
  overflow: hidden;
  width: 95%;
  margin: auto;

  &-big {
    width: 35%;
    max-height: 90px;

    &>h1 {
      color: #c92104;
      text-shadow: 2px 0 0 #ccc;
    }
  }

  &-content {
    width: 65%;
  }
}

.sawtooth:before,
.sawtooth:after {
  content: " ";
  width: 0;
  height: 100%;
  position: absolute;
  top: 10px;
}

.sawtooth:before {
  border-right: 10px dotted white;
  left: -5px;
}

.sawtooth:after {
  border-left: 10px dotted white;
  right: -5px;
}

.card {
  overflow: hidden;
  position: relative;
  border-radius: 0% 0% 50% 50% / 0% 0% 15% 5%;
  box-shadow: 5px 5px 5px #ccc;
}

.index {
  z-index: 1;
}

.bg-icon {
  opacity: 0.15;
  position: absolute;
  right: 0px;
  top: 0;
  z-index: 0;
}

.icon-big {
  font-size: 120px;
}

.input-bg {
  background: transparent;
  font-size: 1.5em;
  width: 180px;
  padding: 0;
  border: 0;
  color: white;
  font-weight: bolder;
}