@keyframes ldio-dwsbgiuamos {
  0% {
    opacity: 1;
    backface-visibility: hidden;
    transform: translateZ(0) scale(1.5, 1.5);
  }

  100% {
    opacity: 0;
    backface-visibility: hidden;
    transform: translateZ(0) scale(1, 1);
  }
}

.ldio-dwsbgiuamos div>div {
  position: absolute;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background: #111111;
  animation: ldio-dwsbgiuamos 1s linear infinite;
}

.ldio-dwsbgiuamos div:nth-child(1)>div {
  left: 146px;
  top: 86px;
  animation-delay: -0.875s;
}

.ldio-dwsbgiuamos>div:nth-child(1) {
  transform: rotate(0deg);
  transform-origin: 160px 100px;
}

.ldio-dwsbgiuamos div:nth-child(2)>div {
  left: 128px;
  top: 128px;
  animation-delay: -0.75s;
}

.ldio-dwsbgiuamos>div:nth-child(2) {
  transform: rotate(45deg);
  transform-origin: 142px 142px;
}

.ldio-dwsbgiuamos div:nth-child(3)>div {
  left: 86px;
  top: 146px;
  animation-delay: -0.625s;
}

.ldio-dwsbgiuamos>div:nth-child(3) {
  transform: rotate(90deg);
  transform-origin: 100px 160px;
}

.ldio-dwsbgiuamos div:nth-child(4)>div {
  left: 44px;
  top: 128px;
  animation-delay: -0.5s;
}

.ldio-dwsbgiuamos>div:nth-child(4) {
  transform: rotate(135deg);
  transform-origin: 58px 142px;
}

.ldio-dwsbgiuamos div:nth-child(5)>div {
  left: 26px;
  top: 86px;
  animation-delay: -0.375s;
}

.ldio-dwsbgiuamos>div:nth-child(5) {
  transform: rotate(180deg);
  transform-origin: 40px 100px;
}

.ldio-dwsbgiuamos div:nth-child(6)>div {
  left: 44px;
  top: 44px;
  animation-delay: -0.25s;
}

.ldio-dwsbgiuamos>div:nth-child(6) {
  transform: rotate(225deg);
  transform-origin: 58px 58px;
}

.ldio-dwsbgiuamos div:nth-child(7)>div {
  left: 86px;
  top: 26px;
  animation-delay: -0.125s;
}

.ldio-dwsbgiuamos>div:nth-child(7) {
  transform: rotate(270deg);
  transform-origin: 100px 40px;
}

.ldio-dwsbgiuamos div:nth-child(8)>div {
  left: 128px;
  top: 44px;
  animation-delay: 0s;
}

.ldio-dwsbgiuamos>div:nth-child(8) {
  transform: rotate(315deg);
  transform-origin: 142px 58px;
}

.loadingio-spinner-spin-ur5grgaunp {
  width: 200px;
  height: 200px;
  display: inline-block;
  overflow: hidden;
}

.ldio-dwsbgiuamos {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0;
  /* see note above */
}

.ldio-dwsbgiuamos div {
  box-sizing: content-box;
}

/* generated by https://loading.io/ */